[submodule "plugins/smex"]
	path = plugins/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "plugins/anything-config"]
	path = plugins/anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "plugins/zencoding"]
	path = plugins/zencoding
	url = git://github.com/chrisdone/zencoding.git
[submodule "modes/textmate-mode"]
	path = modes/textmate-mode
	url = git://github.com/defunkt/textmate.el.git
[submodule "modes/org-mode"]
	path = modes/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "modes/markdown-mode"]
	path = modes/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "color-themes/color-theme-github"]
	path = color-themes/color-theme-github
	url = git://github.com/dudleyf/color-theme-github.git
[submodule "plugins/egg"]
	path = plugins/egg
	url = git://github.com/bogolisk/egg.git
[submodule "modes/haml"]
	path = modes/haml
	url = git://github.com/nex3/haml.git
[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "color-themes/color-theme-twilight"]
	path = color-themes/color-theme-twilight
	url = git://github.com/crafterm/twilight-emacs.git
